html {
  background-color: rgb(255, 255, 255);
  font-family:"Raleway",sans-serif;
}
.underline{
    text-decoration: underline;
}
.list_decoration{
    list-style: none;
}
.font_weight_2{
    font-weight: 550;
    
}
.flex{
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.margin_right{
    margin-right: 5px;
}
body {
  width: 70%;
  margin: auto;
  padding: 1.2rem;
  box-shadow: 0 25px 60px -15px rgb(0 0 0 / 0.25);
}
/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}
.nav_list > li {
  margin-right: 20px;
  font-size: 20px;
}
.nav_list > li > a {
  text-decoration: none;
  color: black;
}
.nav_list > li > a:hover {
  text-decoration: underline;
  color: rgb(50, 50, 50);
}
/* Navbar End */

/* Hero seaction */
.hero_section {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.p_top {
  flex: 0 0 75%;
}

.hero_section > img {
  flex: 1;
  border-radius: 90%;
  padding: 0.2rem;
}


/* Think. Create. Iterate. seaction */

.hero_section_2{
    margin-top: 5.5rem;
    
}
.hero_section_2>h1{
    text-align: center;
    font-weight:normal;
    font-size: 35px;
}
.card_container{
display: flex;
padding: 1.2rem;

}
.card_container>div:hover{
    background-color: rgb(239, 239, 239);
}
.card_container>div{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.card_container>div>h3{
font-weight: 600;
}

/* Project seaction */
.table{
    border: 1px solid black;
    padding: 1.2rem;
}
.thead>tr>th{
    border-bottom: 1px solid black;
    font-weight: 600;
    font-size: large;
}
.tbody>tr>th{
border-right: 1px solid black;
}
.project_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Project.html seaction */
.hidden_text {
    opacity: 0; 
    visibility: hidden; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 0.9s ease-in-out, visibility 0.9s ease-in-out; /* Smooth transition for opacity and visibility */
}

.img {
    transform: translate(50%);
    transition: transform 0.9s ease-in-out; /* Smooth transition for image */
}

.project_container:hover>img {
    transform: translateX(-4%); /* Move the image slightly on hover */
}

.project_container:hover > .hidden_text {
    opacity: 1; /* Set opacity to 1 when hovering over .img */
    visibility: visible; /* Make the hidden text visible */
}

.project_container_2{
    display: flex;
    flex-direction: column;
}
.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_container>img{
    transition: transform 0.5s ease-in-out;
}
.image_container>img:hover{
    transform: scale(1.4, 1.3);

}